/*=========================================================================
Stylesheet for Frontend-Mentor Challenge Intro Component with Sign Up Form 03/22

file: style.css
date: 15.03.2022
author: Nicole Gottschall
==========================================================================*/

/* font-family: Poppins
font-weights: 400, 500, 600, 700 */



/*=========================================================================
Variables
==========================================================================*/
:root {
  /* primary colors */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* accent colors */
  --blue: hsl(248, 32%, 49%);
  /* neutral colors */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

/*=========================================================================
General Styles
==========================================================================*/
body {
  font-size: 16px;
}

/*=========================================================================
Layout
==========================================================================*/

/*=========================================================================
Image Settings
==========================================================================*/

/*=========================================================================
Others
==========================================================================*/
