
/******** var's ********/
:root {
  /* primary colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--pale-blue);
  color: var(--desaturated-blue);
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-weight: 500;
}

.main-box {
  background-color: var(--very-pale-blue);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  line-height: 140%;
}

.text-box {
  padding: 30px;
}

.order-box {
  background-color: hsl(225, 100%, 97%);
  display: flex;
  padding: 20px;
  margin: 20px 5px;
  border-radius: 20px;
}

.button-box {
  background-color: var(--bright-blue);
  color: hsl(0, 100%, 100%);
  padding: .2px;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 30px;
  line-height: 100%;
  box-shadow: -2px 5px 40px var(--desaturated-blue);
}

/******** flex items ********/
.flex-item-left {
  text-align: left;
  flex: 10%;
}
.flex-item-middle {
  text-align: left;
  flex: 50%;
}

/******** images and icons ********/
.img-banner {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

/******** other ********/
h2 {
  color: var(--dark-blue);
  font-weight: 900;
}

.bold-style {
  font-weight: 700;
}

.color-dark-blue {
  color: var(--dark-blue);
}

.order-box p {
  color: var(--bright-blue);
  text-decoration: underline;
}

/******** hover effect ********/
.flex-item-right:hover,
.button-box:hover,
.cancel {
  cursor: pointer;
}

.flex-item-right:hover p {
  opacity: .7;
  text-decoration: none;
}

.button-box:hover {
  opacity: .7;
}

.cancel:hover {
  color: var(--dark-blue);
}

/******** adjustment mobile ********/
@media all and (max-width: 1439px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
  }
}
