/*=========================================================================
Stylesheet for Frontend-Mentor Challenge Base Apparel Coming Soon 03/22

file: style.css
date: 09.03.2022
author: Nicole Gottschall
==========================================================================*/

/* instead of flex use grid-layout */



/*=========================================================================
Variables
==========================================================================*/
:root {
  /* primary colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  /* neutral colors */
  --dark-grayish-red: hsl(0, 6%, 24%);
  /* gradient colors */
  --gradient-v1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-v2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/*=========================================================================
General Styles
==========================================================================*/
body {
  margin: 0;
  color: var(--desaturated-red);
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: var(--dark-grayish-red);
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 13px;
  line-height: 48px;
  text-transform: uppercase;
}

/*=========================================================================
Layout
==========================================================================*/
.header-section {
  padding: 35px 25px;
}

.img-section {
  background: url(images/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.text-section {
  text-align: center;
  padding: 50px 40px 30px;
  line-height: 24px;
}

form {
  margin: 60px auto 0;
  max-width: 400px;
}

/*=========================================================================
Image Settings
==========================================================================*/

/*=========================================================================
Others
==========================================================================*/
.h1-extra {
  color: var(--desaturated-red);
  font-weight: 300;
}

input {
  border-radius: 60px;
}

input.email {
  padding: 13px 175px 13px 27px;
  color: var(--desaturated-red);
  opacity: .6;
  border: .2px solid var(--desaturated-red);
}

input.submit {
  padding: 14px 28px;
  position: relative;
  top: -44px;
  left: 145px;
  background: url(images/icon-arrow.svg), var(--gradient-v2);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-shadow: 0 5px 30px var(--desaturated-red);
}

/*=========================================================================
Adjustments for Mobile (<= 1440px)
==========================================================================*/
@media all and (max-width: 1440px) {
  .img-section {
    height: 320px;
  }
}

/*=========================================================================
Adjustments for Desktop (>= 1440px)
==========================================================================*/
@media all and (min-width: 1440px) {
  body {
    height: 100vh;
  }

  .content {
    display: flex;
  }

  .text-section {
    padding: 30px;
  }

  .img-section {
    flex: auto;
    order: 2;
    background: url(images/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
