/*=========================================================================
Stylesheet for Frontend-Mentor Challenge Base Apparel Coming Soon 03/22

file: style.css
date: 09.03.2022
author: Nicole Gottschall

Mind the adjustments for different screen sizes at the end of the stylesheet!
==========================================================================*/





/*=========================================================================
Variables
==========================================================================*/
:root {
  /* primary colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  /* neutral colors */
  --dark-grayish-red: hsl(0, 6%, 24%);
  /* gradient colors */
  --gradient-v1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-v2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/*=========================================================================
General Styles
==========================================================================*/
body {
  margin: 0;
  color: var(--desaturated-red);
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: var(--dark-grayish-red);
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 13px;
  line-height: 48px;
  text-transform: uppercase;
}

/*=========================================================================
Layout
==========================================================================*/
.img-section {
  background: url(images/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.text-section {
  padding: 50px 40px 30px;
  line-height: 24px;
}

form {
  max-width: 400px;
}

/*=========================================================================
Image Settings
==========================================================================*/


/*=========================================================================
Others
==========================================================================*/
.h1-extra {
  color: var(--desaturated-red);
  font-weight: 300;
}

input {
  border-radius: 60px;
}

input.email {
  padding: 13px 175px 13px 27px;
  color: var(--desaturated-red);
  opacity: .6;
  border: .2px solid var(--desaturated-red);
}

input.submit {
  padding: 14px 0;
  width: 70px;
  background: url(images/icon-arrow.svg), var(--gradient-v2);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-shadow: 0 5px 30px var(--desaturated-red);
}

.err-message {
  font-size: 13px;
  color: var(--soft-red);
}

/*=========================================================================
Adjustments for Mobile (<= 1440px)
==========================================================================*/
@media all and (max-width: 1440px) {
  .header-section {
    padding: 35px 25px;
  }

  .img-section {
    height: 320px;
  }

  .text-section {
    text-align: center;
  }

  form {
    margin: 60px auto 0;
  }

  input.submit {
    position: relative;
    top: -44px;
    left: 150px;
  }

  .err-message {
    position: relative;
    top: -40px;
    left: -70px;
  }
}

/*=========================================================================
Adjustments for Desktop (>= 1440px)
==========================================================================*/
@media all and (min-width: 1440px) {
  body {
    padding-left: 210px;
    font-size: 18px;
    height: 100vh;
    background: url(images/bg-pattern-desktop.svg) no-repeat;
    background-size: 1400px 982px;
  }

  h1 {
    font-size: 56px;
    line-height: 65px;
  }

  .header-section {
    grid-area: header;
    padding: 80px 40px 0;
  }

  .text-section {
    grid-area: text;
    line-height: 35px;
    width: 450px;
  }

  .img-section {
    grid-area: img;
    height: 100vh;
    background: url(images/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .grid {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 180px auto;
    grid-template-areas:
      "header img"
      "text img";
  }

  form {
    margin: 60px 0;
  }

  input {
    width: 100%;
    width: 230px;
  }

  input.submit {
    position: relative;
    top: -44px;
    left: 368px;
  }

  .err-message {
    position: relative;
    top: -40px;
    left: 18px;
  }
}
